{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Find Your Question</legend>

                <div class="form-group">
                    {{ form.question.label(class="form-control-label") }}

                    {% if form.question.errors %}
                        {{ form.question(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.question.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.question(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.keys.label(class="form-control-label") }}
                    {% if form.keys.errors %}
                        {{ form.keys(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.keys.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.keys(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-sm", id="q-b") }}
            </div>
        </form>
        
        <div class="loader-container">
            <div class="loader"></div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>PDF Path</th>
                <th>Page Number</th>
            </tr>
        </thead>
        <tbody>
            {% for pdf in pdfs %}
            <tr>
                <td><a href="{{ pdf[0] }}#page={{ pdf[1] }}">{{ pdf[0] }}</a></td>
                <td>{{ pdf[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="../static/scripts/loader.js"></script>
    
{% endblock content %}