{% extends "layout.html" %}
{% block content %}
<head><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pdf_modify.css') }}"></head>
<h1>View Files</h1>
<table>
    <thead>
        <tr>
            <th>Filename</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
            <tr>
                <td>{{ file }}</td>
                <td>
                    <form action="{{ url_for('resources') }}" method="post">
                        <input type="hidden" name="filename" value="{{ file }}">
                        <input type="hidden" name="action" value="delete">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete {{ file }}?')">Delete</button>
                    </form>
                    <form action="{{ url_for('download_file', filename=file) }}" method="get">
                        <input type="hidden" name="action" value="download">
                        <button type="submit">Download</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Upload PDF File</h2>

<form action="{{ url_for('resources') }}" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="hidden" name="action" value="upload">
    <button type="submit">Upload</button>
</form>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                
                <!-- <legend class="border-bottom mb-4">Your uploaded PDF files</legend>

                <div class="form-group" id="own-list">
                    {% for file in range(length) %}
                        <div class="pdf-list">
                            <span><img src="{{ url_for('static', filename='logos/own-pdf-icon.png') }}" width="32" height="32"><a href="{{ url[file] }}">{{ name[file][:-4] }}</a></span>
                            <br>
                        </div>
                    {% endfor %}    
                </div> -->


                <legend class="border-bottom mb-4">Enter keys for which you want access:</legend>

                <div class="form-group">
                    {{ form.keys.label(class="form-control-label") }}
                    {% if form.keys.errors %}
                        {{ form.keys(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.keys.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.keys(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group" id="key-list">
                    {% for file in range(lengths) %}
                        <div class="pdf-list">
                            <span><img src="{{ url_for('static', filename='logos/pdf-icon.png') }}" width="32" height="32"><a href="{{ urls[file] }}">{{ names[file][:-4] }}</a></span>
                            <br>
                        </div>
                    {% endfor %}
                </div>  

                <div class="form-group">
                    {{ form.submit(class="btn btn-primary btn-sm") }}
                </div>
            </fieldset>

{% endblock content %}